# Default ignored files
/shelf/
/workspace.xml
.env
News_Summary_Agent/blockchain_intel.db
News_Summary_Agent/blockchain_intel.log
News_Summary_Agent/content_analysis.log
News_Summary_Agent/data_acquisition.log
News_Summary_Agent/file_1.log
News_Summary_Agent/reporting.log
